<div class="main_box">
  <div class="box" style="display: flex;flex-direction: column">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Generate report</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-button (click)="fun_test()">Generate</button>
        do stuff
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>other reports</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-button (click)="fun_test()">Generate</button>
        do stuff
      </mat-card-content>
    </mat-card>
  </div>


  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Choose two files</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-table [dataSource]="dataSource" style="width:100%;">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef style="flex: 0 0 40px">
            <!--<mat-checkbox (change)="$event ? masterToggle() : null"-->
            <!--[checked]="selection.hasValue() && isAllSelected()"-->
            <!--[indeterminate]="selection.hasValue() && !isAllSelected()">-->
            <!--</mat-checkbox>-->
          </mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex: 0 0 40px">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)"
                          [disabled]="selection.selected.length == 2 && !selection.isSelected(row) || row.status != 'csv'">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.filename}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>


  <div class="box middle-box">
    <mat-card *ngFor="let item of selection.selected">
      <mat-card-header>
        <mat-card-title>{{item.filename}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p *ngFor="let col of item.columns">{{col}}</p>
        <img src="https://media.tenor.com/images/f7523797b0207e5af66f394dbf559a05/tenor.gif" alt="asda">
      </mat-card-content>
    </mat-card>
  </div>

</div>
